[submodule "vendor/egg"]
	path = vendor/egg
	url = git://github.com/bogolisk/egg.git
[submodule "vendor/gist.el"]
	path = vendor/gist.el
	url = git://github.com/defunkt/gist.el
[submodule "vendor/relax.el"]
	path = vendor/relax.el
	url = git://github.com/technomancy/relax.el.git
